<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<header th:insert="blocks/header"></header>

<h2 th:align="center" class="mt-2" th:text="'Подробности о группе \'' + ${group.getName()} + '\''"></h2>

<div class="mx-4 mt-4" th:align="center">
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" th:text="${group.getName()}"></h3>
                <p class="card-text" th:text="${group.getDescription()}"></p>
                <p class="card-text" th:text="${group.getDateFoundation()}"></p>
                <p class="card-text" th:text="${group.getPrivate()}"/>
                <p class="card-text"><small class="text-muted"
                                            th:text="${group.getSubscribers()} + ' подписчиков'"></small></p>

                <a th:href="'/group/' + ${group.getId()} + '/edit'" class="btn btn-warning">Редактировать</a>
                <form th:method="post" class="mt-3" th:action="'/group/' + ${group.getId()} + '/remove'">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>