<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
<header th:insert="blocks/header"></header>
<div class="row justify-content-md-center align-items-center center">

    <form th:object="${group}" method="post" class="col-sm-6 col-lg-4 mb-4 my-3 p-3 bg-body rounded shadow-sm"
          th:action="'/group/' + ${group.id} + '/edit'">
        <div class="row g-3 ">
            <h1 class="h3 mb-3 fw-normal">Пора обновить группу...</h1>

            <div class="col-md-12">
                <input th:field="*{name}" type=text class="form-control" name="name" id="name"
                       placeholder="Название группы">
                <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="col-md-12">

                <input type=text
                       class="form-control"
                       name="description"
                       id="description"
                       placeholder="Описание группы"
                       th:field="*{description}">
                <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>

            <div class="col-md-12">
                <input type=checkbox
                       name="isPrivate"
                       th:field="*{private}"
                       id="isPrivate">

                <label for="isPrivate">Приватная группа</label>
            </div>

            <input type="hidden" th:field="*{subscribers}" th:value="*{subscribers}"/>

            <input type="hidden" th:field="*{dateFoundation}" th:value="*{dateFoundation}"/>

            <input class="w-100 btn btn-lg btn-warning" type="submit" value="Обновить"/>
        </div>
    </form>
</div>
</body>
</html>

